:root {
  --text-color: #757575;
  --title-color: #212121;
  --first-color: #ffffff;
  --second-color: #2196f3;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--text-color);
  background-color: var(--first-color);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
/* HEADER */
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 0.84;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-right: 93px;
}
.logo-second {
  color: var(--second-color);
}
.menu-navigation {
  padding-top: 32px;
  padding-bottom: 32px;
}
.menu-navigation:not(:last-child) {
  margin-right: 50px;
}
.nav-header {
  font-size: 14px;
  font-weight: 500;
  color: var(--title-color);
}
.nav-header:hover,
.nav-header:focus {
  color: var(--second-color);
}
.menu-nav {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  color: var(--title-color);
}
.menu-contact {
  display: flex;
  margin-left: auto;
}
.icon-mail,
.icon-tel {
  margin-right: 10px;
  fill: var(--text-color);
}
.nav-icon-mail,
.nav-icon-tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-icon-mail:hover,
.nav-icon-mail:focus {
  color: var(--second-color);
}
.nav-icon-mail:hover,
.nav-icon-mail:focus .icon-mail {
  fill: var(--second-color);
}
.icon-mail:hover {
  fill: var(--second-color);
}
.mail {
  margin-right: 50px;
}
.nav-icon-tel:hover,
.nav-icon-tel:focus {
  color: var(--second-color);
}
.nav-icon-tel:hover,
.nav-icon-tel:focus .icon-tel {
  color: var(--second-color);
}

.icon-tel:hover,
.icon-tel:focus {
  fill: var(--second-color);
}
.form {
  max-width: 280px;
  height: 466px;
  background-color: #fffff9;
}
